## Get metadata from path and filename and export to file:
* path
* organism: E. faecium (Efcm), E.coli(Ecoli), S. aureus (Sau)
* sequencing technology: HS, MS, NX
* Read number: 1/2
* evaluation (label): good/ugly (1/0)

In [1]:
import os
import re
import pandas as pd

In [2]:
rootdir = 'training_data'

In [3]:
reads =	{
  "filename": [],
  "organism": [],
  "technology": [],
  "read_number": [],
  "evaluation": []
}

In [4]:
for root, dirs, files in os.walk(rootdir):
    if root.endswith("fastqc"):
        extracted_vars = root.split('/')
        reads["organism"].append(extracted_vars[-5])
        reads["evaluation"].append(extracted_vars[-4])
        reads["technology"].append(extracted_vars[-3])
        reads["filename"].append(extracted_vars[-1].replace("_fastqc", ""))
        read_number = extracted_vars[-1].split('_')[-3][1]
        reads["read_number"].append(read_number)

In [5]:
metadata = pd.DataFrame(reads)
metadata

,filename,organism,technology,read_number,evaluation
0,200709_20-07968_20-00891_S21_L000_R2_001,Sau,MS,2,ugly
1,200204_20-00746_19-03927_S9_L000_R1_001,Sau,MS,1,ugly
2,181002-18-6991-775-18_S1_L001_R1_001,Sau,MS,1,ugly
3,200327_20-04028_20-00328_S25_L000_R1_001,Sau,MS,1,ugly
4,180727-18-5425-18-01680_S8_L001_R2_001,Sau,MS,2,ugly
...,...,...,...,...,...
179,191113_19-10152_20476_S134_L000_R1_001,Efcm,HS,1,good
180,191113_19-10150_20474_S132_L000_R2_001,Efcm,HS,2,good
181,191113_19-10153_20477_S135_L000_R1_001,Efcm,HS,1,good
182,191113_19-10151_20475_S133_L000_R2_001,Efcm,HS,2,good
183,191113_19-10151_20475_S133_L000_R1_001,Efcm,HS,1,good

In [6]:
metadata.to_json('exported_datasets/metadata.json')